<div class="relative w-full h-16 bg-teal-600 md:bg-teal-900 md:h-auto md:max-w-sm">
  <img class="hidden md:block absolute opacity-25 inset-0 h-full w-full object-cover" src="https://images.unsplash.com/photo-1505904267569-f02eaeb45a4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1908&q=80" alt="" />
  <div class="absolute inset-0 z-10 flex flex-col md:items-center justify-center md:justify-between text-white md:my-8">
    <%= link_to "Podnotes", root_path, class: "ml-4 -mb-1 md:m-0 text-2xl md:text-4xl" %>
    <div class="hidden md:block mb-20 text-center px-12">
      <p>Enabling independent podcasters to make more money.</p>
    </div>
    <p class="hidden md:block text-xs text-gray-300">Copyright © 2020</p>
  </div>
</div>
