<div class="my-24 w-full max-w-screen-lg mx-auto">
  <div class="w-full grid grid-cols-2">
    <div class="text-6xl font-bold font-serif">
      3 steps to
      <br class="hidden md:inline" />
      <span class="text-blue-500">break free</span>
    </div>
    <div class="flex items-center">
      <p class="leading-relaxed">
        In less than 5 minutes you can generate $1,000’s on autopilot. Our simple
        process is dedicated towards enhancing your business. Subscribe, connect
        and convert. These are the steps to success.
      </p>
    </div>
  </div>
  <div class="my-24 grid grid-cols-3">
    <div class="col-span-2 flex items-center">
      <div class="w-2/3 ml-12">
        <%= image_tag "illustrations/profile.svg" %>
      </div>
    </div>
    <div class="flex flex-col space-y-6 py-12">
      <div class="w-16 h-16 flex justify-center items-center font-serif rounded-full bg-blue-50 text-4xl font-medium">
        1
      </div>
      <h2 class="text-3xl font-bold font-serif">Create your<br>free account</h2>
      <p class="leading-relaxed">
        Simply connect your Shopify account and get started. For other platforms
        simply connect using our easy to use code snippet.
      </p>
    </div>
  </div>
  <div class="my-24 grid grid-cols-3">
    <div class="flex flex-col space-y-6 py-12">
      <div class="w-16 h-16 flex justify-center items-center font-serif rounded-full bg-blue-50 text-4xl font-medium">
        2
      </div>
      <h2 class="text-3xl font-bold font-serif">Choose your<br>top friends</h2>
      <p class="leading-relaxed">
        Simply connect your Shopify account and get started. For other platforms
        simply connect using our easy to use code snippet.
      </p>
    </div>
    <div class="col-span-2 flex items-center">
      <div class="w-2/3 ml-auto mr-12">
        <%= image_tag "illustrations/selection.svg" %>
      </div>
    </div>
  </div>
  <div class="my-24 grid grid-cols-3">
    <div class="col-span-2 flex items-center">
      <div class="w-1/2 ml-24">
        <%= image_tag "illustrations/new_email.svg" %>
      </div>
    </div>
    <div class="flex flex-col space-y-6 py-12">
      <div class="w-16 h-16 flex justify-center items-center font-serif rounded-full bg-blue-50 text-4xl font-medium">
        3
      </div>
      <h2 class="text-3xl font-bold font-serif">Receive your<br>weekly email</h2>
      <p class="leading-relaxed">
        Simply connect your Shopify account and get started. For other platforms
        simply connect using our easy to use code snippet.
      </p>
    </div>
  </div>
  <div class="text-center space-y-4 p-12 bg-blue-50 rounded-3xl">
    <h2 class="text-4xl font-serif font-bold leading-none">Ready to start?</h2>
    <p class="text-xl font-serif">Start your 14 day free trial today!</p>
    <a href="#" class="inline-block rounded-full bg-blue-500 py-2 px-8 text-white font-medium text-lg">Sign me up!</a>
    <p class="text-gray-500 text-sm">No credit card required</p>
  </div>
</div>
