<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-<%= @default_color %>-50">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between">
      <div>
        <h1 class="text-4xl font-extrabold sm:text-5xl sm:tracking-tight">
          <span class="text-gray-900">Break free for </span>
          <span class="text-<%= @default_color %>-500">$42 per year</span>
        </h1>
        <p class="mt-5 text-xl text-gray-500">We charge the exact amount Facebook makes off every user, every year.</p>
      </div>
      <a href="#" class="mt-8 w-full bg-<%= @default_color %>-500 border border-transparent px-5 py-3 inline-flex items-center justify-center text-xl font-medium rounded-md text-white hover:bg-<%= @default_color %>-600 sm:mt-10 sm:w-auto xl:mt-0">Try it FREE!</a>
    </div>
  </div>
</div>
