<div class="max-w-screen-lg w-full mx-auto px-4">
  <div class="py-24 border-b-2 border-gray-200">
    <div class="flex flex-col max-w-screen-md mx-auto items-start space-y-8">
      <h1 class="text-5xl">The ultimate tool to break free from social media.</h1>
      <p>
        Social media has its hands around our necks. They abuse our data and sell our attention.
        We are here to help you fight back.
      </p>
      <a href="#" class="px-4 py-2 border-2 border-black bg-red-500 hover:bg-red-600 text-white text-xl">Sign up</a>
    </div>
  </div>

  <div class="flex flex-col py-24 space-y-36">
    <div class="flex justify-center -mb-12">
      <div class="border-b-2 border-black pb-1">
        <h2 class="text-3xl font-bold">Tools to help you quit</h2>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-x-8">
      <div class="bg-gray-200 w-full">

      </div>
      <div class="col-span-2 space-y-4 flex flex-col items-start">
        <h2 class="text-2xl">Weekly friend update</h2>
        <p>
          Instagram is terribly addictive. It's also useful tool. Who doesn't love getting updates from friends and family?
        </p>
        <p>
          Our weekly friend update tool takes the app out of the picture and sends a curated list of posts to you as a weekly email.
        </p>
        <p>
          Checking posts on a set schedule helps you retake control of your attention. The mail only comes once a day, your social media shouldn't be any different.
        </p>
        <a class="block px-2 py-1 border-black border-2 hover:bg-red-500 hover:text-white" href="#">Control your attention</a>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-x-8">
      <div class="bg-gray-200 w-full order-2">

      </div>
      <div class="col-span-2 space-y-4 flex flex-col items-start">
        <h2 class="text-2xl">Birthday reminder texts</h2>
        <p>Another problem we had with quitting social media...birthdays.</p>
        <p>
          We had become overly-reliant on Facebook to remember birthdays. So, we created a tool that sends text reminders
          for all of your most important friends.
        </p>
        <a class="block px-2 py-1 border-black border-2 hover:bg-red-500 hover:text-white" href="#">Get text reminders</a>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-x-8">
      <div class="bg-gray-200 w-full">

      </div>
      <div class="col-span-2 space-y-4 flex flex-col items-start">
        <h2 class="text-2xl">Post updates to friends</h2>
        <p>
          Sharing updates is still very imporant and social media makes it easy. Rather than sending our hundreds of
          texts, you can share with everyone you know with a single button, how great is that?
        </p>
        <p>
          Really great, until you've downloaded the app and spend the next 3 hours checking your comments, likes, and even who didn't like.
        </p>
        <a class="block px-2 py-1 border-black border-2 hover:bg-red-500 hover:text-white" href="#">Post without the app</a>
      </div>
    </div>
  </div>
</div>
