<div class="max-w-screen-lg w-full mx-auto px-4">
  <div class="py-24 max-w-screen-sm mx-auto flex flex-col items-center space-y-12">
    <p class="text-lg font-sans">PRICING</p>
    <h2 class="text-6xl font-bold">$42 / year</h2>
    <h2>(or $5 / month)</h2>
    <p class="text-center">
      We charge the same amount that Facebook makes per-user, per-year on advertising
      in North America. Social media is not free, we just want to make it cheaper.
    </p>
  </div>
</div>
