<div class="py-24">
  <h1 class="text-4xl md:text-6xl font-sans font-extrabold mb-8">The Ultimate Tool to Break Away from Social Media</h1>
  <p class="leading-normal md:text-xl text-gray-700 tracking-wide mb-8">
    Quitting social media is hard.
  </p>
  <p class="leading-normal md:text-xl text-gray-700 tracking-wide mb-8">
    Instagram is built on top of a great idea: people want to see pictures of their friends.
    However, since being bought by Facebook, the product has changed and morphed into
    the beast it is today: a platform designed to keep your attention for as long as possible.
  </p>
  <p class="leading-normal md:text-xl text-gray-700 tracking-wide mb-12">
    Nocial allows you to stay updated on your friends' lives while still living yours. Do you check Instagram
    multiple times per day and stay on for longer than you wanted? So does the whole world. Fix the problem
    by taking the content from only your closest friends and having it sent to you on a fixed schedule.
    If the content only updates once per day, you'll only check it once per day.
  </p>
  <div class="text-center">
    <a href="#features" class="p-2 text-xl border border-gray-800 hover:bg-red-500 hover:text-gray-100">Scroll down <i class="fas fa-chevron-down"></i></a>
  </div>
</div>

<div class="w-full border border-gray-200 my-6"></div>

<div class="py-24">
  <h2 class="text-4xl md:text-6xl font-sans font-extrabold mb-8">What is Nocial?</h2>
  <p class="leading-normal md:text-xl text-gray-700 tracking-wide mb-8">
    Nocial is a compilation of different tools to help people break free from social media.
  </p>
  <h3 class="text-2xl font-bold font-sans mb-4">Async Friend Feed</h3>
  <p class="leading-normal md:text-xl text-gray-700 tracking-wide mb-8">
    This is what async friend feed is...
  </p>
  <h3 class="text-2xl font-bold font-sans mb-4">Universal Posting</h3>
  <p class="leading-normal md:text-xl text-gray-700 tracking-wide mb-8">
    This is what async friend feed is...
  </p>
  <h3 class="text-2xl font-bold font-sans mb-4">Birthday Text Reminders</h3>
  <p class="leading-normal md:text-xl text-gray-700 tracking-wide mb-8">
    This is what async friend feed is...
  </p>
</div>
