<!-- This example requires Tailwind CSS v2.0+ -->
<footer class="bg-<%= @default_color%>-50" aria-labelledby="footerHeading">
  <h2 id="footerHeading" class="sr-only">Footer</h2>
  <div class="max-w-screen-lg mx-auto border-t border-gray-200 py-8">
    <div class="flex space-x-4 sm:space-x-12 text-gray-400 mx-auto justify-center mb-4 text-lg">
      <a href="" class="hover:text-gray-600">Blog</a>
      <a href="" class="hover:text-gray-600">Manifesto</a>
      <a href="" class="hover:text-gray-600">Pricing</a>
      <a href="" class="hover:text-gray-600">About</a>
    </div>
    <p class="text-sm text-gray-400 text-center">
      &copy; 2021 Nocial, Inc. - <a class="underline" href="">Terms &amp; Conditions</a> - <a class="underline" href="">Data Policy</a>
    </p>
  </div>
</footer>

